<script>
    console.log(<%= JSON.stringify(currentUser) %>);
</script>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/images/muksta-logo.png" alt="Muksta Logo" width="30" height="30" class="d-inline-block align-top me-2">
            Muksta
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">메인 페이지</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/restaurants">음식점 목록</a>
                </li>
                <% if (currentUser) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/restaurants/new">글 작성하기</a>
                    </li>
                    <% if (currentUser.role === 'master') { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/users/manage">회원 관리</a>
                        </li>
                    <% } %>
                <% } %>
            </ul>
            <ul class="navbar-nav">
                <% if (currentUser) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/<%= currentUser._id %>/edit">회원정보 수정</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">로그아웃</a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">로그인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">회원가입</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>